body {
  background-color: #3a517e;
  font-family: "Muli", sans-serif;
}

#title {
  color: #ffffff;
  margin: auto;
  text-align: center;
  font-size: 3.2em;
  margin-top: 1em;
}

#sub-title {
  color: #ffffff;
  margin: auto;
  text-align: center;
  margin-top: 0.5em;
}

#explanation-link-section {
  text-align: center;
}

#explanation-link {
  text-decoration: none;
  color: #fff;
}

#explanation-link:hover {
  color: yellow;
  cursor: pointer;
}

#choose-one-section,
#results-section,
#explanation-section {
  margin-top: 4em;
  margin-left: 10em;
  margin-right: 10em;
}

#results-section {
  height: 31em;
  /* margin-bottom: 20em; */
}

#choose-one-text,
#results-text,
#explanation-text {
  background-color: #ffffff;
  border-radius: 10px;
  font-size: 2em;
  text-align: center;
}

#game-images {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

#rock,
#paper,
#scissors {
  border-radius: 20px;
  cursor: pointer;
}

#rock:hover,
#paper:hover,
#scissors:hover {
  box-shadow: 0 0 4px 4px yellow;
}

#player-results-text {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

#player-results-text > h2 {
  font-size: 1.5em;
  color: #ffffff;
}

#player-results {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

#user-choice,
#computer-choice {
  border-radius: 20px;
}

#play-again-section {
  text-align: center;
}

#play-again-button {
  font-size: 2.25em;
  background-color: #ffffff;
  font-family: "Muli", sans-serif;
  width: 400px;
  height: 100px;
  border: none;
  border-radius: 20px;
}

#play-again-button:hover {
  cursor: pointer;
}

#explanation-section {
  text-align: center;
}

#user-choice {
  border-radius: 20px;
}

#player-results-text {
  border: 2px dashed yellow;
}

#player-results {
  border: 2px dashed red;
}

#tie-text {
  text-align: center;
  padding-top: 0.8em;
  color: yellow;
  font-size: 2.5em;
}
